<header class="items-center header page-width">

  <!-- Header Logo -->
  <div class="mx-auto my-2 header_logo" style="max-width: {{ section.settings.logo_width }}px;">
    {% if section.settings.logo != blank %}
      <a href="/" class="header_logo">
        {{ section.settings.logo | image_url: width: 400 | image_tag: loading: 'lazy' }}
      </a>
    {% else %}
      <a href="/" class="header_logo-title">
        {{ shop.name }}
      </a>
    {% endif %}
  </div>
  
  <!-- Header Menu -->
  <nav class="flex header_menu">      
    <ul class="hidden md:flex">

      {% for link in section.settings.menu.links %}
        <li class="relative block px-4 py-5 hover:underline nav_item">
          <a class="block px-4 py-5" href="{{ link.url }}">{{ link.title }}</a>

        <!-- dropdown child -->
        {% if link.links.size > 0 %}
          <ul class="dropdown-child absolute bg-white border py-3 px-4 min-w-[160px] top-16 left-1/2 transform -translate-x-1/2">
            {% for child_link in link.links %}
              <li class="relative block py-1 hover:underline child_nav_item">
                <a class="block px-4 py-5" href="{{ child_link.url }}">{{ child_link.title }}</a>

                <!-- dropdown grandchild -->
                {% if child_link.links.size > 0 %}
                  <ul class="dropdown-grandchild absolute bg-white border py-3 px-4 min-w-[160px] top-6 left-[200px] transform -translate-x-1/2">
                    {% for grandchild_link in child_link.links %}
                      <li class="block py-1 hover:underline">
                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>  
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Header Icons -->
  <div class="flex items-center justify-end space-x-5 header_icons">
      {% if shop.customer_accounts_enabled %}
        <div class="relative z-10 account-menu-wrapper">
          <a href="{{ routes.account_url }}" 
            title="account link"
            class="block text-center header_icon">
            {% render 'icon-account', class: 'w-10 mx-auto' %}
          </a>
        </div>
      {% endif %}

        <button 
          type="button"
          title="Cart button"
          class="relative text-center header_icon">
            {% render 'icon-cart', class: 'w-10' %}
            <span class="sr-only">{{ 'templates.cart.cart' | t }}</span>
            <span class="cart_count min-w-[22px] text-sm min-h-[22px] absolute grid place-content-center rounded-full -top-3 -right-1 text-white bg-black"> {{ cart.item_count }} </span>
        </button>
  </div>

</header>  


{% schema %}
{
  "name": "Header", 
  "tag": "section", 
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Header Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Store Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Custom logo width"
      
    },
    {
      "type": "header",
      "content": "Header Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
