<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    
    <!-- The `content_for_header` object is required in this file. Which dynamically returns all the scripts required by Shopify -->
    {{ content_for_header }}
  
    <!-- Tailwind & Alpine plugin -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>

  </head>
  <body>
    
    {% section 'announcement-bar' %}
    <main role="main">{{ content_for_layout }}</main>
    
  </body>
</html>